{% if tag %}
    标签页： {{ tag.name }}
{% endif %}

{% if category %}
    分类页： {{ category.name }}
{% endif %}

<ul>
    {% for post in post_list %}
    <li>
        <a href="/post/{{ post.id }}.html">{{ post.title }}</a>
        <div>
        <span>作者：{{ post.owner.username }}</span>
        <span>分类：{{ post.category.name }}</span>
        <span>标签： {% for tag in post.tags.all %}
                        <b>{{ tag.name }}</b>
                    {% endfor %}
        </span>
        </div>
        <p>{{ post.description }} - {{ post.created_time }}</p>

    </li>
    {% endfor %}
</ul>